.button__list {
    margin-top: 30px;
}

.button__item {
    display: block;
    width: calc(50% - 20px);
    margin: 0 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 15px 15px;
    text-align: center;
}

.button__item:hover {
    color: #18AD18;
    border-color: #18AD18;
    background-color: #D5FFD5;
}