.header {
    padding-top: 30px;
}

.header__item {
    width: 33%;
}

.header__button {
    display: inline-block;
    margin: 0 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px 15px;
    text-align: center;
}

.header__button:hover {
    color: #18AD18;
    border-color: #18AD18;
    background-color: #D5FFD5;
}

.header__button img {
    width: 25px;
    height: auto;
    margin-right: 5px;
    margin-top: -9px;
    margin-bottom: -5px;
}

.header__control {
    margin-top: 40px;
    text-align: right;
}

