.login {
    padding-top: 120px;

}

.login_form {
    padding-top: 30px;
    max-width: 500px;
    background-color: #efefef;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.login_item {
    margin: 10px 0px;
}

.form-control:focus{
    box-shadow: 0 0 0 4px rgba(144, 238, 144, 0.71);
    border-color: #18AD18;
}

.button_sumbit:hover {
    color: #18AD18;
    border-color: #18AD18;
    background-color: #D5FFD5;
}

.button_sumbit:focus{
    box-shadow: 0 0 0 4px rgba(144, 238, 144, 0.71);
    border-color: #18AD18;
}
